[Unit]
Description=PiStreamer Web Update
After=network-online.target
Wants=network-online.target
ConditionPathExists=/opt/pistreamer/current

[Service]
Type=oneshot
ExecStart=/usr/local/libexec/pistreamer-update
User=root
Group=root
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
